* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
  url('./assets/fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Black'), local('Merriweather-Black'),
  url('./assets/fonts/Merriweather/Merriweather-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: #191411;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  width: 260px;
  padding: 19px;
  border-radius: 8px;
  background: linear-gradient(96deg, #da8023 0%, #e2b438 100%);
  color: #191411;
  font-size: 18px;
}

.button:hover {
  background: linear-gradient(96deg, #ac6115 0%, #9e7a19 100%);
}

.button:disabled {
  cursor: not-allowed;
  color: gray;
  background: #343434;
}

.common-title {
  font-family: 'Merriweather', sans-serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 80px;
  letter-spacing: 1.92px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
